language: node_js
node_js:
  - "10"
  - "8"
  - "6"
  - "4"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
matrix:
  fast_finish: true
sudo: false
